<%= form_with model: @comment, url:  user_comment_path(@comment), data: { turbo: false } do |form| %>
  <% if @comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control"  %>
  </div>
  <%= form.submit class:"btn btn-primary" %>
<% end %>
<br>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
 <%= link_to 'All Posts', posts_path, class: "btn btn-dark" %>
<%= link_to 'My Posts', user_posts_path, class: "btn btn-secondary"  %> 
<%= link_to 'My Comments', user_comments_path, class: "btn btn-dark" %>
</div>
