<%= form_with model: @comment, url:  user_comment_path(@comment), data: { turbo: false } do |form| %>
  <% if @comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'Posts', posts_path %> |
<%= link_to 'My Posts', user_posts_path %> |
<%= link_to 'My Comments', user_comments_path%>