<%= current_user.email %>
<h2>My Comments</h2> 

<ul class="list-group ">
  <% @comments.each do |comment| %>
    <li class="list-group-item list-group-item-dark">
      <%= comment.content %>(<%= comment.created_at %>) by <%= comment.user&.email %> 
      <%= link_to 'Edit', edit_user_comment_path(comment),class: "btn btn-secondary" if user_signed_in? && comment.user == current_user %>
    </li>
  <% end %>
</ul>
<br>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <%= link_to 'All Posts', posts_path, class: "btn btn-dark"%>
  <%= link_to 'My Posts', user_posts_path, class: "btn btn-secondary" %>
</div>