<h1>Edit My Post</h1>
<%= form_with model: post do |form| %>
  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>
  <%= form.submit class: "btn btn-primary"%>
<% end %>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <%= link_to 'All Posts', posts_path, class: "btn btn-dark"%>
  <%= link_to 'My Posts', user_posts_path, class: "btn btn-secondary" %>
</div>