<h2 class="text-bold text-center">My Posts</h2>
<h5 class="text-muted text-center"><%= current_user.email %></h5>

<ul class="list-group mx-auto text-center" style="width: 450px" >
  <% @posts.each do |post| %>
    <li class="list-group-item list-group-item-dark">
    Title:<h5><%= post.title %></h5> <br>
    Content:<h5><%= post.content %></h5><br>
    <%= link_to 'Edit', edit_user_post_path(post),class: "btn btn-secondary"  %></li>
  <% end %>
</ul>
<br>
<div class="d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <%= link_to 'All Posts', posts_path, class: "btn btn-dark" %> 
    <%= link_to 'My Comments', user_comments_path, class: "btn btn-secondary" %>
  </div>
</div>  