<h1 class="text-center text-muted">Disaster List</h1>

 


<table class="table table-hover w-75 mx-auto text-center" >
  <thead>
    <tr class="table-dark text-center">
      <td>Title</td>
      <td>Content</td>
      <td>Address</td>
      <td>Category</td>
      <td>User</td>
      <td>Location</td>
      <td colspan="4" class="text-center">Action</td>
      </tr>
  </thead>
  <% @posts.each do |post| %>
    <tr class="table-secondary">
      <td><%= post.title %></td>
      <td>
        <%= post.content %><br>
        <%= link_to 'Comments', post_comments_path(post), class: "btn-sm btn btn-dark" %>
      </td>
      <td><%= "#{post.region&.name} #{post.province&.name} #{post.city&.name} #{post.barangay&.name} #{post.address}" %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td><%= post.user&.email %></td>
      <td>
        <% geocode_result = Geocoder.search(post.ip_address).first %>
        <% if geocode_result %>
          <p><%= geocode_result.country %> | <%= geocode_result.city %></p>
        <% else %>
          <p>Location Not Available</p>
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', post_path(post), class: "btn-sm btn btn-secondary"%>
      </td>
      <td>
        <%= link_to 'Edit', edit_post_path(post), class: "btn-sm btn btn-dark" if policy(post).edit? %>
      </td>
      <td>
        <%= button_to 'Delete', post_path(post), class: "btn-sm btn btn-danger", method: :delete if policy(post).destroy? %>
      </td>
      <td>
        <%= link_to 'New Comment', new_post_comment_path(post), class: " btn-sm btn btn-light" %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>
