<div class="card text-center mx-auto" style="width: 750px">
  <div class="card-header card bg-dark text-white">
    <%= @post.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @post.user&.email %></h5>
    <p class="card-text"><%= @post.content %></p>
    <p class="card-text"><%= @post.address %></p>
    <%= link_to 'Posts', posts_path, class: "btn btn-dark" %>
  </div>
  <div class="card-footer text-body-secondary">
    Short URL: <%= request.base_url %>/<%= @post.short_url %>
  </div>
</div>
